In [1]:
import pandas as pd
from pymongo import MongoClient

In [25]:
df = pd.read_csv("D:/Allen/Python/Data Engg/water_dataX.csv", encoding='latin1')
df

,STATION CODE,LOCATIONS,STATE,Temp,D.O. (mg/l),PH,CONDUCTIVITY (µmhos/cm),B.O.D. (mg/l),NITRATENAN N+ NITRITENANN (mg/l),FECAL COLIFORM (MPN/100ml),TOTAL COLIFORM (MPN/100ml)Mean,year
0,1393,"DAMANGANGA AT D/S OF MADHUBAN, DAMAN",DAMAN & DIU,30.6,6.7,7.5,203,NAN,0.1,11,27,2014
1,1399,ZUARI AT D/S OF PT. WHERE KUMBARJRIA CANAL JOI...,GOA,29.8,5.7,7.2,189,2,0.2,4953,8391,2014
2,1475,ZUARI AT PANCHAWADI,GOA,29.5,6.3,6.9,179,1.7,0.1,3243,5330,2014
3,3181,RIVER ZUARI AT BORIM BRIDGE,GOA,29.7,5.8,6.9,64,3.8,0.5,5382,8443,2014
4,3182,RIVER ZUARI AT MARCAIM JETTY,GOA,29.5,5.8,7.3,83,1.9,0.4,3428,5500,2014
...,...,...,...,...,...,...,...,...,...,...,...,...
1986,1330,"TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU",NAN,NAN,7.9,738,7.2,2.7,0.518,0.518,202,2003
1987,1450,"PALAR AT VANIYAMBADI WATER SUPPLY HEAD WORK, T...",NAN,29,7.5,585,6.3,2.6,0.155,0.155,315,2003
1988,1403,"GUMTI AT U/S SOUTH TRIPURA,TRIPURA",NAN,28,7.6,98,6.2,1.2,NAN,NAN,570,2003
1989,1404,"GUMTI AT D/S SOUTH TRIPURA, TRIPURA",NAN,28,7.7,91,6.5,1.3,NAN,NAN,562,2003
1990,1726,"CHANDRAPUR, AGARTALA D/S OF HAORA RIVER, TRIPURA",NAN,29,7.6,110,5.7,1.1,NAN,NAN,546,2003

In [9]:
df.dropna(inplace=True)  # Example: Remove rows with missing data

In [27]:
from pymongo import MongoClient
from urllib.parse import quote_plus

username = quote_plus("ronnieallen")
password = quote_plus("ronnie")  # this becomes 'Sudhalfy%4012'

uri = f"mongodb+srv://{username}:{password}@ia3-data-engg.dtimim2.mongodb.net/?retryWrites=true&w=majority&appName=ia3-data-engg"

client = MongoClient(uri)

# Access your DB
db = client["WaterDataDB"]
collection = db["WaterQuality"]

In [28]:
# Convert to dictionary
data_dict = df.to_dict("records")
data_dict[0]  # Check the first record

{'STATION CODE': '1393',
 'LOCATIONS': 'DAMANGANGA AT D/S OF MADHUBAN, DAMAN',
 'STATE': 'DAMAN & DIU',
 'Temp': '30.6',
 'D.O. (mg/l)': '6.7',
 'PH': '7.5',
 'CONDUCTIVITY (µmhos/cm)': '203',
 'B.O.D. (mg/l)': 'NAN',
 'NITRATENAN N+ NITRITENANN (mg/l)': '0.1',
 'FECAL COLIFORM (MPN/100ml)': '11',
 'TOTAL COLIFORM (MPN/100ml)Mean': '27',
 'year': 2014}

In [29]:
# Insert into MongoDB Atlas
collection.insert_many(data_dict)

print("Data inserted successfully to MongoDB Atlas!")

Data inserted successfully to MongoDB Atlas!

In [30]:
# Fetch one document
one_doc = collection.find_one()

# Print it
print(one_doc)

{'_id': ObjectId('67f1549839459e3f9ed09460'), 'STATION CODE': '1393', 'LOCATIONS': 'DAMANGANGA AT D/S OF MADHUBAN, DAMAN', 'STATE': 'DAMAN & DIU', 'Temp': '30.6', 'D.O. (mg/l)': '6.7', 'PH': '7.5', 'CONDUCTIVITY (µmhos/cm)': '203', 'B.O.D. (mg/l)': 'NAN', 'NITRATENAN N+ NITRITENANN (mg/l)': '0.1', 'FECAL COLIFORM (MPN/100ml)': '11', 'TOTAL COLIFORM (MPN/100ml)Mean': '27', 'year': 2014}